DATABASE_URL="postgresql://postgres.iqpzpsrsgkkisnturmsf:PhamTri1403%40@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.iqpzpsrsgkkisnturmsf:PhamTri1403%40@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"
NEXT_PUBLIC_MAP_PROVIDER=osm
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
GEMINI_API_KEY=AIzaSyCqNx6Txj8Nj-SnaoWqFPH9eFkJF8CFv1c
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
EMAIL_USER=
EMAIL_PASS=
RECIPIENT_EMAIL=
FORCE_CLERK_AUTH=false
